/*
	HACKS
	Last versions tested in that list: IE 9
	!important no works in IE 6-
	IE 6- : _prop, -prop
	IE 7- : *prop, prop:value !ie
	IE 7 only: *:first-child+html .selector{}, *+html .element {}
	All IE : prop:value\9;
	Firefox 2.0- : body:empty .selector{}
	All Firefox: @-moz-document url-prefix() { .selector {} } , " .selector, x:-moz-any-link {} "
	Opera 9.27- : html:first-child .selector {}
	Safari: html[xmlns*=""] body:last-child .selector{}
	Safari 3+/Opera 9+/Firefox 3.5+/Chrome 1+: body:nth-of-type .selector{}, @media screen and (-webkit-min-device-pixel-ratio:0) { .selector {} }
	IE 7+ and modern browsers: html>body .selector{}
	(Algunos hacks no han sido comprobados)
*//*
	HACKS Personalizados
	Al iniciarse la web, se asignan automaticamente 3 clases al body: navegador, S.O. (Sistema Operativo) y motor del navegador
	* Navegadores soportados: chrome, safari, ie, firefox, opera
	* S.O. soportados: windows, mac, linux
	* motores soportados: gecko, webkit, presto
	Si se necesita alguna configuracion especifica, se inicia el selector con una o varias clases como los siguientes ejemplos:
		body.ie
		body.windows.gecko
		body.mac.webkit
*/

/* IE */
body.ie input.ui-button { padding: .3em .9em; }
body.ie #home_content_top { height: 420px; }
body.ie #sign_up_general { height: 445px; }
body.ie .scroll-ui-box { height: 385px; }
.ieFix,/* corrige tamaño de elementos vacios en ie */
body.ie .tag-container [tag] .tagLink, .tag-container [tag] .profile
{	background:black; opacity:0; filter:alpha(opacity=0);	}

/* Firefox */
@-moz-document url-prefix() {
	input.ui-button { padding: .2em .7em; }
	#home_content_top { height: 400px; }
	#sign_up_general { height: 463px; }
	.scroll-ui-box { height: 403px; }
}

/* WebKit (chrome,safari) */
body.webkit input[type="search"] {
	-webkit-appearance: none;
	width: 220px;
}

/* mobile orientation */
/* Portrait */
@media screen and (orientation:portrait) {
   /* Portrait styles here */
}
/* Landscape */
@media screen and (orientation:landscape) {
   /* Landscape styles here */
}
