.security/*.php
img/*/
language/
img_server/img/

#security
includes/security/*.php
img_server/includes/security/*.php
video_server/includes/security/*.php

local/*.*
local/app/
quepeo.php
video_server/jqueryupload/

cometchat/cache/*
js/funciones_en.js
js/funciones_es.js

video_server/videos/pending/*
video_server/videos/*/*

main/views/templates/tags.php

local/xdk/*.html
local/xdk/*.xdk
local/xdk/*.xdke
local/xdk/js/min.js

language/en.php
language/es.php
Tag.xdke
Tag.xdk
js/funciones_es.js
app/css/smt/old/

