.security/*.php
img/*/
language/
img_server/img/

#security
includes/security/*.php
img_server/includes/security/*.php
video_server/includes/security/*.php

local/*.*
local/app/
quepeo.php
video_server/jqueryupload/

js/funciones_en.js
js/funciones_es.js

video_server/videos/pending/*
video_server/videos/*/*

main/views/templates/tags.php

Tag.xdk
Tag.xdke
