<IfModule mod_rewrite.c>
	Options +FollowSymLinks -indexes
	RewriteEngine On
	RewriteBase /tag/

	#ErrorDocument 403 errors/403.php
	#ErrorDocument 404 errors/404.php

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^wpanel/(.*)$ wpanel/index.php [L]

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php [L]
</IfModule>
