<IfModule mod_rewrite.c>
Options +FollowSymLinks -indexes
RewriteEngine On

#redireccion de errores
ErrorDocument 400 "Error 400"
ErrorDocument 401 "Error 401"
ErrorDocument 403 "Error 403: Forbidden"
ErrorDocument 404 "Error 404: File not found"
ErrorDocument 500 "Error 500: Internal server error"

#global
RewriteCond %{REQUEST_URI} !^/(app|img|video|web)_root/
RewriteRule ^(app|img|video|web)([\?/].*$|$) $1_root$2 [NC,L]
RewriteRule ^(controls|cometchat)/(.*)$ web_root/$1/$2 [L]

#app
RewriteCond %{SERVER_NAME} !^app\.
RewriteRule ^app(\?.*)$ app/$1 [R]
RewriteCond %{SERVER_NAME} !^app\.
RewriteRule ^app/cometchat/(.*)$ cometchat/$1 [R]

RewriteCond %{SERVER_NAME} ^app\.
RewriteRule ^/?(.*)$ app_root/$1 [L]
#img
RewriteCond %{SERVER_NAME} ^i(mg)?\.
RewriteRule ^/?(.*)$ img_root/$1 [L]
#video
RewriteCond %{SERVER_NAME} ^v(ideo)?\.
RewriteRule ^/?(.*)$ video_root/$1 [L]
#main
RewriteCond %{REQUEST_URI} !^/web_root/
RewriteRule ^(.*)$ web_root/$1 [L]

## Begin - Rewrite rules to block out some common exploits.
# If you experience problems on your site block out the operations listed below
# Block out any script that includes a javascript: in URL.
RewriteCond %{QUERY_STRING} (javascript:).*(\;) [NC,OR]
# Block out any script that includes a <script> tag in URL.
RewriteCond %{QUERY_STRING} (<|%3C)([^s]*s)+cript.*(>|%3E) [NC]
# Return 403 Forbidden header
RewriteRule .* - [F]
#
## End - Rewrite rules to block out some common exploits.

</IfModule>
