files:
	"/etc/php.d/project.ini" :
		mode: "000644"
		owner: root
		group: root
		content: |
			upload_max_filesize = 64M
			post_max_size = 64M
			error_reporting = E_ALL & ~E_DEPRECATED & ~E_STRICT & ~E_NOTICE

container_commands:
	01_config_permitions_ec2user:
		command: "usermod -g webapp ec2-user"
	02_config_permitions_ec2user:
		command: "usermod -a -G ec2-user ec2-user"
	03_config_folder_permitions:
		command: "chown -R ec2-user /var/app/current/"
	04_config_folder_permitions:
		command: "chmod 775 /var/app/current/"
