body,ul,li {
	padding:0;
	margin:0;
	border:0;
}

body {
	font-size:12px;
	-webkit-user-select:none;
	-webkit-text-size-adjust:none;
	font-family:helvetica;
	width: 99.9%;
}

/* portrait (horizontal) */
/*@media screen and (orientation:portrait) {
}*/

.title {
	position: relative;
	width:100%;
	height:49px;
	text-align:center;
	border: none;
	border-bottom: 1px solid #343436;
	background: #5A5A5D url(img/bg_menu_1x50.png) 50% 50% repeat-x;
	color: white;
	font-weight: bold;
	text-shadow: 0 0 0;
}

.title h1 {
	position: absolute;
	z-index: 5;
	color:#fff;
	font-weight:bold;
	text-shadow:0 -1px 1px black;
	font-size:16px;
	width:100%;
	top:50%;
	padding:0px;
	margin:-10px 0 0;
}

.title div.home, .title div.back, .title div.usr {
	position: absolute;
	z-index: 10;
	background: transparent 50% 50% no-repeat;
	background-size: 100%;
	margin: 5px 10px;
	width: 40px;
	height:40px;
	top:0;
}

.title div.home {
	left:0;
	background-image: url(css/smt/home_.png);
}
.title div.back {
	left:0;
	background-image: url(css/smt/back.png);
}
.title div.usr {
	right:0;
	border-radius: 50%;
}

.header {
	width:100%;
	height:50px;
	padding:0;
	margin:0;
}

.roundedtitle {
	border: 1px solid #9dc6d7;
	padding: 7px;
	font-size: 14px;
	color: #345b69;
	width: 290px;
	-webkit-border-radius: 5px;
	text-shadow: 1px 1px 1px #fff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f1f8fc), color-stop(1, #d3ecfe));
}

.header a {
	color:#f3f3f3;
	text-decoration:none;
	font-weight:bold;
	text-shadow:0 -1px 0 rgba(0,0,0,0.5);
}

.footer {
	width: 306px;
	height:30px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f1f8fc), color-stop(1, #d3ecfe));
	padding:7px;
	border-top:1px solid #9dc6d7;
}

.footer input {
	border: 1px solid #9dc6d7;
	padding: 7px;
	font-size: 14px;
	color: #345b69;
	width: 292px;
	-webkit-border-radius: 5px;
	text-shadow: 1px 1px 1px #fff;
	background: #fff;
}

#wrapper {
	position:relative;
	z-index:1;
	width:100%;
	background:#aaa;
	overflow:hidden;
}

#scroller {
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	float:left;
	width:100%;
	padding:0;
}

#scroller ul {
	list-style:none;
	padding:0;
	margin:0;
	width:100%;
	text-align:left;
}

#scroller li {
	padding:0 10px;
	height:70px;
	line-height:40px;
	border-bottom:1px solid #ccc;
	border-top:1px solid #fff;
	background-color:#fafafa;
	font-size:14px;
}

#scroller li > a {
	display:block;
}

#chatwindow {
	display: none;
}

#cwwrapper {
	position:relative;
	z-index:1;
	width:100%;
	background:#aaa;
	overflow:hidden;
}

#cwscroller {
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	float:left;
	width:100%;
	padding:0;
}

#cwscroller ul {
	list-style:none;
	padding:0;
	margin:0;
	width:100%;
	text-align:left;
}

#cwscroller li {
	padding:7px 10px;
	line-height:17px;
	border-bottom:1px solid #ccc;
	border-top:1px solid #fff;
	background-color:#fafafa;
	font-size:14px;
}

#cwscroller li > a {
	display:block;
}

.roundedleft {
	border: 1px solid #666;
	padding: 7px;
	padding-right: 0px;
	font-size: 14px;
	color: #345b69;
	width: 20px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	text-shadow: 1px 1px 1px #fff;
	background:#fff;
	float:left;
	padding-right:0px;
	border-right:0px;
	text-align:center;
}

.roundedcenter {
	border: 1px solid #666;
	padding: 7px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 14px;
	color: #333;
	width: 250px;
	text-shadow: 1px 1px 1px #fff;
	background: #fff;
	float:left;
	border-left:0px;
	border-right:0px;
	text-align:left;
}

.roundedright {
	border: 1px solid #666;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	border-left:0px;
	padding: 7px;
	font-size: 14px;
	color: #333;
	width: 20px;
	text-shadow: 1px 1px 1px #fff;
	background: #fff;
	float:left;
	padding-left: 0px;
	text-align:center;
}

.avatarimage {
	height: 60px;
	width: 60px;
	margin-right: 10px;
	vertical-align: -5px;
	webkit-border-radius: 50%;
	border-radius: 50%;
	moz-border-radius:50%; 
}

#cometchat, #cometchat_tooltip { display: none; }

.newmessages {
	color: #ccc;
	position: absolute;
	right: 0px;
	top: 0px;
	display: block;
	padding:0;
	margin:0;
	width: 20px;
	height: 20px;
	font-weight: bold;
	color: #000;
}

.status {
	color: #ccc;
	position: absolute;
	right: 70px;
	top: 0px;
	display: block;
	padding:0;
	margin:0;
	width: 20px;
	height: 20px;
	font-weight: bold;

}

.onlinelist {
	position: relative;
}

#spacer {
	display: none;
	height: 2000px;
}

#cometchat_tooltip {
	display: none !important;
}

.selfmessage {
	color: #666;
}
