<IfModule mod_rewrite.c>
Options +FollowSymLinks -indexes
RewriteEngine On

#redireccion de errores
#ErrorDocument 403 error/403.html
#ErrorDocument 404 error/404.html

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ - [L,R=404]

## Begin - Rewrite rules to block out some common exploits.
# If you experience problems on your site block out the operations listed below
# Block out any script that includes a javascript: in URL.
RewriteCond %{QUERY_STRING} (javascript:).*(\;) [NC,OR]
# Block out any script that includes a <script> tag in URL.
RewriteCond %{QUERY_STRING} (<|%3C)([^s]*s)+cript.*(>|%3E) [NC]
# Return 403 Forbidden header
RewriteRule .* - [F]
#
## End - Rewrite rules to block out some common exploits.

</IfModule>
