<IfModule mod_rewrite.c>
Options +FollowSymLinks -indexes
RewriteEngine On

#redireccion de errores
#ErrorDocument 403 errors/403.php
#ErrorDocument 404 errors/404.php

#servidor de videos
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]

</IfModule>
