<IfModule mod_rewrite.c>
	Options +FollowSymLinks -indexes
	RewriteEngine On

	#si la imagen no existe local se busca en el servidor de imagenes
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ http://68.109.244.201/img/$1 [L]
</IfModule>
